.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section img {
  max-width: 240px;
  height: auto;
}
